<template>
  <form method="post" action="/api/user/verify" @submit.prevent="sendForm($event)">
    <div class="form-group row">
      <label for="register_name" class="col-sm-2 col-form-label">Imię</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="register_name" placeholder="Jan"
               v-model.trim.lazy="$v.user.name.$model">
        <div v-if="$v.user.name.$dirty">
          <div class="form-text text-muted validation-error" v-if="$v.user.$dirty && !$v.user.name.required">Musisz
            podać imię
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="register_name" class="col-sm-2 col-form-label">Nazwisko</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="register_surname" placeholder="Kowalski"
               v-model.trim.lazy="$v.user.surname.$model">
        <div v-if="$v.user.surname.$dirty">
          <div class="form-text text-muted validation-error" v-if="!$v.user.surname.required">
            Musisz podać nazwisko
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="register_name" class="col-sm-2 col-form-label">Wiek</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="register_age" placeholder="18" v-model.lazy="$v.user.age.$model">
        <div v-if="$v.user.age.$dirty">
          <div class="form-text text-muted validation-error" v-if="!$v.user.age.required">Musisz podać wiek</div>
          <div class="form-text text-muted validation-error" v-if="!$v.user.age.between">Musisz mieć conajmniej
            {{ $v.user.age.$params.between.min }} lat,
            ale nie więcej niż {{ $v.user.age.$params.between.max }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="register_name" class="col-sm-2 col-form-label">E-mail</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="register_email"
               placeholder="jan.kowalski@serwer-poczty-emailowej.com"
               v-model.lazy="$v.user.email.$model">
        <div v-if="$v.user.email.$dirty">
          <div v-if="!$v.user.email.required" class="form-text text-muted validation-error">Musisz podać email</div>
          <div v-else-if="!$v.user.email.email" class="form-text text-muted validation-error">Musisz podać poprawny
            email
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value=""
                 id="register_data_processing_consent"
                 @change="$v.user.consent.$touch()"
                 v-model="$v.user.consent.$model">
          <label class="form-check-label" for="register_data_processing_consent">
            Zgoda na przetwarzanie danych osobowych
          </label>
          <div v-if="$v.user.consent.$dirty">
            <div class="form-text text-muted validation-error" v-if="!$v.user.consent.checked">Zgoda jest wymagana do
              zapisania danych osobowych
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Zarejestruj</button>
      </div>
    </div>
  </form>
</template>

<script>
import {required, between, email, sameAs} from 'vuelidate/lib/validators'
import axios from 'axios';

export default {
  name: "Register",
  data: () => {
    return {
      user: {
        name: '',
        surname: '',
        email: '',
        age: '',
        consent: false
      },
    }
  },
  validations() {
    return {
      user: {
        name: {
          required
        },
        surname: {
          required
        },
        email: {
          required,
          email: email
        },
        age: {
          required,
          between: between(18, 99)
        },
        consent: {
          checked: (val) => {
            return  val === true;
          }
        }
      },
    }
  },
  methods: {
    sendForm(e) {
      this.$v.user.$touch();
      if(!this.$v.user.$invalid) {
        axios.post(e.target.action, this.user)
            .then((response) => {
              return response.data;
            })
            .then((data) => {

            })
            .catch((err)=>{
              console.error(err.response.data);
            })
      }
    },
  }
}
</script>

<style scoped>
.validation-error {
  font-size: 0.8rem !important;
  color: red !important;
}
</style>