<template>
  <div id="app" class="container">
    <register></register>
  </div>
</template>

<script>
import Register from './components/User/Register.vue'

export default {
  components: {Register},
}
</script>

<style lang="scss">
</style>
